In [33]:
import random as rd
import pandas as pd
import getpass as ps
import random

In [34]:
app_list = []
df = pd.DataFrame()

In [35]:
personal_xp = 0

In [36]:
def edu_email():
    email = input("Please enter your @student.hult.edu email: ")
    if '@student.hult.edu' in email: 
        return email
    else:
        return edu_email()

In [37]:
def new_user(): 
   
    email = str(edu_email())


    #---------------------------------------------------------------------------
    
    user_name = input("Enter your user name: ")
    pass_word = ps.getpass("Password: ")
    
    #---------------------------------------------------------------------------

    
                
    nation = input("What is your nationality? ")
    
    #---------------------------------------------------------------------------
    
    while True:
        
        lang_no = int(input("How many languages do you speak? (Max 5) "))
    
        if lang_no == 1:
            lang_1 = input("What language do you speak? ")
            lang_2 = ""
            lang_3 = ""
            lang_4 = ""
            lang_5 = ""
            break
        
        elif lang_no == 2:
            lang_1 = input("What language do you speak? ")
            lang_2 = input("What is the second language you speak? ")
            lang_3 = ""
            lang_4 = ""
            lang_5 = ""
            break
        
        elif lang_no == 3:
            lang_1 = input("What language do you speak? ")
            lang_2 = input("What is the second language you speak? ")
            lang_3 = input("What is the third language you speak? ")
            lang_4 = ""
            lang_5 = ""
            break
        
        elif lang_no == 4:
            lang_1 = input("What language do you speak? ")
            lang_2 = input("What is the second language you speak? ")
            lang_3 = input("What is the third language you speak? ")
            lang_4 = input("What is the fourth language you speak? ")
            lang_5 = ""
            break
        
        else:
            lang_1 = input("What language do you speak? ")
            lang_2 = input("What is the second language you speak? ")
            lang_3 = input("What is the third language you speak? ")
            lang_4 = input("What is the fourth language you speak? ")
            lang_5 = input("What is the fifth language you speak? ")
            break
            
    #---------------------------------------------------------------------------
    
    print("Account Created")
    
    types = ("Golden Gate Bridge", "Lombard Street", "Coit Tower", "Alcatraz Island")
    cohort = random.sample(types,1)
    co = ''.join(cohort)
    print(f"You are in the {co} cohort!")
    
    personal_xp = 0
    
    
    app_list.append({"user_name" : user_name,
                     "password" : pass_word,
                     "email" : email,
                     "nation" : nation,
                     "lang_no" : lang_no,
                     "lang_1" : lang_1,
                     "lang_2" : lang_2,
                     "lang_3" : lang_3,
                     "lang_4" : lang_4,
                     "lang_5" : lang_5,
                     "cohort" : co,
                     "personal_xp" : personal_xp})

In [38]:
data = {'cohort':['Golden Gate Bridge', 'Lombard Street', 'Coit Tower', 'Alcatraz Island'], 'cohort_xp':[0,0,0,0]}

cohort_data = pd.DataFrame(data)

In [39]:
cohort_data

               cohort  cohort_xp
0  Golden Gate Bridge          0
1      Lombard Street          0
2          Coit Tower          0
3     Alcatraz Island          0

In [40]:
def old_user():
    user_name = input("Enter your user name: ")
    pass_word = ps.getpass("Password: ")
    
    while True:
        if str(user_name) in str(user_data['user_name']) and str(pass_word) in str(user_data['password']):
            print(f"Login successful, Welcome back {user_name}!")
            break
    
        else:
            print("Invalid login, please try again.")
            return old_user()

In [41]:
#defining if user is new or old
#def login():
while True:
    user = input("""  
If you are an existing user, input 'Log In'

If you are a new user, input 'Register'  

""")

    if user.lower() == "register" :
        new_user()
        user_data = df.append(app_list, ignore_index = True)
        user_data = user_data.reindex(columns = ['user_name', 'password', 'email', 'nation', 'lang_no', 'lang_1', "lang_2", "lang_3", "lang_4", "lang_5", "cohort","personal_xp"])
        user_data.to_csv('user_data1.csv')
        break


    elif user.lower() == "log in":
        old_user()
        break


    else:
        print("Wrong input! Please enter 'Log In' or 'Register'")

If you are an existing user, input 'Log In'

If you are a new user, input 'Register'

Log In
Enter your user name: marcelom
Password: ········
Invalid login, please try again.
Enter your user name: raafij
Password: ········
Login successful, Welcome back raafij!

In [22]:
user_data

,user_name,password,email,nation,lang_no,lang_1,lang_2,lang_3,lang_4,lang_5,cohort,personal_xp
0,raafij,raafilolol,raafi@student.hult.edu,Thai,3,English,Thai,Love,,,Golden Gate Bridge,0

In [42]:
#Trivia Questions and Personal_XP generation for the user.

user_name = str(input("Please enter your username: "))
user_data1 = user_data.set_index('user_name')
cohort = str(user_data1.loc[user_name, "cohort"])
personal_xp = int(user_data1.loc[user_name, "personal_xp"])
trivia_xp = 0


print(f"""
Welcome {user_name}, from the {cohort} cohort.

Are you ready for this Geography Quiz? 
This quiz will allow you to gain up to 30 personal XP. 
The points you gain will also be added to your cohort's XP.
You currently have {personal_xp} points. 

Remember, for wrong questions, you do not get any points nor re-dos!""")

input(f"\n\nPress Enter to start!")

  
#-------------------------------------------------------------------------------------------------------
quest_1 = input("""\n
*Question 1*
Which of this is not a continent? 
    a. North America
    b. South Africa
    c. Oceania
    d. Asia 

Answer >>  """)

#make input lower case
quest_1 = quest_1.lower()                    
if quest_1 == 'b':
    print("Amazing!")
    personal_xp += 5
    trivia_xp += 5
else:
    print("All of them are continents except South Africa, which is a country.")
#-------------------------------------------------------------------------------------------------------


#-------------------------------------------------------------------------------------------------------
quest_2 = input("""\n 
*Question 2*
Is Antartica a country? I remember I saw a picture of their capital "Iglü".
    a. Yes
    b. No
       
Answer >> """)

#make input lower case
quest_2 = quest_2.lower()
if quest_2 == 'b':
    print("Great!")
    personal_xp += 5
    trivia_xp += 5
else:
    print("Where did you see that? Antartica is a continent, not a country!")
    
#-------------------------------------------------------------------------------------------------------   
 
    
#-------------------------------------------------------------------------------------------------------
quest_3 = input("""\n
*Question 3* 
Jakarta is in Asia, just like Juba, right? Is Juba in Asia?
    a. Duh!
    b. Of course not!
       
Answer >> """)

#make input lower case
quest_3 = quest_3.lower()            
if quest_3 == 'b':
    print("You are right!")
    personal_xp += 5
    trivia_xp += 5
else:
    print("It is not! Juba is the capital of South Sudan, Africa!") 


#-------------------------------------------------------------------------------------------------------   
 
    
#-------------------------------------------------------------------------------------------------------
quest_4 = input("""\n 
*Question 4*
Which is the only country to play in every World Cup?
    a. Germany
    b. Current Champs, France
    c. Brasil
    d. Netherlands
                
Answer >> """)

#make input lower case
quest_4 = quest_4.lower()
if quest_4 == 'c':
    print("That's correct!")
    personal_xp += 5
    trivia_xp += 5
else:
    print("Brasil has never missed a World Cup and have been champions 5 times!")
 
 
#-------------------------------------------------------------------------------------------------------   

    
#-------------------------------------------------------------------------------------------------------
quest_5 = input("""\n 
*Question 5*
What is the capital city of Singapore?
    a. Tampines
    b. Jakarta
    c. Kuala Lumpur
    d. Singapore 
        
Answer >> """)

#make input lower case
quest_5 = quest_5.lower()
if quest_5 == 'd':
    print("Amazing!")
    personal_xp += 5
    trivia_xp += 5
else:
    print("Wrong! Singapore is the capital city of Singapore!")
    
#-------------------------------------------------------------------------------------------------------   

    
#-------------------------------------------------------------------------------------------------------
quest_6 = input("""\n 
*Question 6*
Where is Papua New Guinea?
    a. West Africa
    b. South America
    c. Oceania
    d. Asia 
       
Answer >> """)
                      
#make input lower case
quest_6 = quest_6.lower()
if quest_6 == 'c':
    print("Good job!")
    personal_xp += 5
    trivia_xp += 5
else:
    print("Wrong! Papua New Guinea is on top of Australia, beside Indonesia!")  

user_data.loc[user_data['user_name'] == user_name, ['personal_xp']] += personal_xp
cohort_data.loc[cohort_data['cohort'] == cohort, ['cohort_xp']] += personal_xp
    
    #Here we want to display the XP's that the person generated.
print(f"\n\nYou earned {trivia_xp} points from that round! Your total is now {personal_xp}!")

Please enter your username: raafij

Welcome raafij, from the Golden Gate Bridge cohort.

Are you ready for this Geography Quiz?
This quiz will allow you to gain up to 30 personal XP.
The points you gain will also be added to your cohort's XP.
You currently have 25 points.

Remember, for wrong questions, you do not get any points nor re-dos!


Press Enter to start!


*Question 1*
Which of this is not a continent?
    a. North America
    b. South Africa
    c. Oceania
    d. Asia

Answer >>  c
All of them are continents except South Africa, which is a country.


*Question 2*
Is Antartica a country? I remember I saw a picture of their capital "Iglü".
    a. Yes
    b. No

Answer >> b
Great!


*Question 3*
Jakarta is in Asia, just like Juba, right? Is Juba in Asia?
    a. Duh!
    b. Of course not!

Answer >> b
You are right!


*Question 4*
Which is the only country to play in every World Cup?
    a. Germany
    b. Current Champs, France
    c. Brasil
    d. Netherlands

Answer >> d
Brasil has never missed a World Cup and have been champions 5 times!


*Question 5*
What is the capital city of Singapore?
    a. Tampines
    b. Jakarta
    c. Kuala Lumpur
    d. Singapore

Answer >> d
Amazing!


*Question 6*
Where is Papua New Guinea?
    a. West Africa
    b. South America
    c. Oceania
    d. Asia

Answer >> c
Good job!


You earned 20 points from that round! Your total is now 45!

In [43]:
#Here we are trying to extract specific info from users. 
str(user_data.loc[0, "cohort"])

'Golden Gate Bridge'

In [44]:
#Extracting personal_xp from user.
user_name = "raafij"
int(user_data1.loc[user_name, "personal_xp"])

25

In [45]:
user_data.loc[user_data['user_name'] == "r", ['user_name']] = "renee"

In [174]:
user_data

,user_name,password,email,nation,lang_no,lang_1,lang_2,lang_3,lang_4,lang_5,cohort,personal_xp
0,raafi,raafi,raafi@student.hult.edu,raafi,2,raafi,raafi,,,,Lombard Street,40.0
1,renee,rene,renee@student.hult.edu,renee,1,renee,,,,,Golden Gate Bridge,0.0
2,marcelo,marcelo,marcelo@student.hult.edu,marcelo,2,asdf,sadf,,,,Alcatraz Island,0.0
3,jessica,jessica,jessica@student.hult.edu,jess,1,a,,,,,Golden Gate Bridge,0.0
4,chase,asdf,chase@student.hult.edu,asdf,1,asdf,,,,,Alcatraz Island,0.0

In [164]:
user_data1 = user_data.set_index('user_name')

In [167]:
user_data1

,password,email,nation,lang_no,lang_1,lang_2,lang_3,lang_4,lang_5,cohort,personal_xp
user_name,,,,,,,,,,,
raafi,raafi,raafi@student.hult.edu,raafi,2,raafi,raafi,,,,Lombard Street,0.0
renee,rene,renee@student.hult.edu,renee,1,renee,,,,,Golden Gate Bridge,0.0
marcelo,marcelo,marcelo@student.hult.edu,marcelo,2,asdf,sadf,,,,Alcatraz Island,0.0
jessica,jessica,jessica@student.hult.edu,jess,1,a,,,,,Golden Gate Bridge,0.0
chase,asdf,chase@student.hult.edu,asdf,1,asdf,,,,,Alcatraz Island,0.0

In [30]:
user_data.index.name = "user_id"

In [31]:
user_data1 = user_data.set_index('user_name')

In [32]:
user_data1["password"]

user_name
raafij    raafilolol
Name: password, dtype: object